/*Blue Background: #0DFFA6
  Orange: #FF4001
  Pink: #F9CACC
*/

.App {
  text-align: center;
  font-size: 125%;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.links{
  text-decoration: none;
}

.profile{
  height: 20vmin;
}

.profile:hover{
  opacity: 95%;
}

.bg-pink{
  background:#F9CACC;
}

.bg-blue{
  background:#0DFFA6;
}

.bg-orange{
  background:#ff4000b9;
}

.inset-shadow{
  -moz-box-shadow: inset 0 -10px 10px -10px #575757;
  -webkit-box-shadow: inset 0 -10px 10px -10px #444444;
  box-shadow: inset 0 -10px 20px -10px #707070;
}

.humanbody{
  height: 50vmin;
}